includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - writing-status.php
        - class-writing-status-renderer.php
        - includes/
